@import '~@master/ui/dist/index.css';

.shine {
    animation: shine .5s linear;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: .625rem 1rem;
    border-radius: .3125rem;
    border: 1px solid rgba(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .05);
    margin: .5rem 0;

    >.shine+.shine {
        border-left: 0;

    }

    >.shine {
        margin: 0;
        border-radius: 0;

        &:first-child {
            border-top-left-radius: .3125rem;
            border-bottom-left-radius: .3125rem;
        }

        &:last-child {
            border-top-right-radius: .3125rem;
            border-bottom-right-radius: .3125rem;
        }
    }

}

@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        background-color: yellow;
    }

    100% {
        opacity: 1;
    }
}